@{
    ViewBag.Title = "Fire & Forget";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h4>@ViewBag.Message</h4>
</hgroup>
<div>



<hr /><h6>Standard Methods</h6>




<hr /><h6>Parallel Methods</h6>

    <script type="text/javascript">
        $(function () {
            $("#FireForget_Button_Basic").click(function () {
                $("#FireForget_Button_Basic").attr("disabled", true);
                $('#FireForget_Result').html("<div><img src='/img/loaders/loader.gif' /></div>");
                $.ajax({
                    url: '@Url.Action("_Response_PartialView", "FireForget", new {threadType="basic-thread"})',
                    data: { exampleParameter: "Example" },
                    contentType: "application/json; charset=utf-8",
                    //Upon a successful request - data will store your Partial View contents
                    success: function (data) {
                        $("#FireForget_Button_Basic").attr("disabled", false);
                        $('#FireForget_Result').html(data);
                    }
                });
            });
        });
    </script>
    <p><input id="FireForget_Button_Basic" class="btn btn-primary" type="button" value="Fire & Forget Parallel Tasks (Basic Thread)" /></p>





    <script type="text/javascript">
        $(function () {
            $("#FireForget_Button_Detailed").click(function () {
                $("#FireForget_Button_Detailed").attr("disabled", true);
                $('#FireForget_Result').html("<div><img src='/img/loaders/loader.gif' /></div>");
                $.ajax({
                    url: '@Url.Action("_Response_PartialView", "FireForget", new {threadType="detailed-thread"})',
                    data: { exampleParameter: "Example" },
                    contentType: "application/json; charset=utf-8",
                    //Upon a successful request - data will store your Partial View contents
                    success: function (data) {
                        $("#FireForget_Button_Detailed").attr("disabled", false);
                        $('#FireForget_Result').html(data);
                    }
                });
            });
        });
    </script>
<p><input id="FireForget_Button_Detailed" class="btn btn-primary" type="button" value="Fire & Forget Parallel Tasks (Detailed Thread)" /></p>






    <script type="text/javascript">
        $(function () {
            $("#FireForget_Button_Exception").click(function () {
                $("#FireForget_Button_Exception").attr("disabled", true);
                $('#FireForget_Result').html("<div><img src='/img/loaders/loader.gif' /></div>");
                $.ajax({
                    url: '@Url.Action("_Response_PartialView", "FireForget", new {threadType="exception"})',
                    data: { exampleParameter: "Example" },
                    contentType: "application/json; charset=utf-8",
                    //Upon a successful request - data will store your Partial View contents
                    success: function (data) {
                        $("#FireForget_Button_Exception").attr("disabled", false);
                        $('#FireForget_Result').html(data);
                    }
                });
            });
        });
    </script>
<p><input id="FireForget_Button_Exception" class="btn btn-primary" type="button" value="Fire & Forget With Exception (Uncaught)" /></p>




    <script type="text/javascript">
        $(function () {
            $("#FireForget_Button_Exception_Catch").click(function () {
                $("#FireForget_Button_Exception_Catch").attr("disabled", true);
                $('#FireForget_Result').html("<div><img src='/img/loaders/loader.gif' /></div>");
                $.ajax({
                    url: '@Url.Action("_Response_PartialView", "FireForget", new {threadType="exception-catch"})',
                    data: { exampleParameter: "Example" },
                    contentType: "application/json; charset=utf-8",
                    //Upon a successful request - data will store your Partial View contents
                    success: function (data) {
                        $("#FireForget_Button_Exception_Catch").attr("disabled", false);
                        $('#FireForget_Result').html(data);
                    }
                });
            });
        });
    </script>
<p><input id="FireForget_Button_Exception_Catch" class="btn btn-primary" type="button" value="Fire & Forget With Exception (Caught)" /></p>




<hr />

    <div id="FireForget_Result">
        <!-- FireForget Result --><p class="text muted">Results Pane.</p>
    </div>


</div>