@model TaskAlchemist.Models.ProcessingResult

<div class="alert @Model.AlertType">

    <h6>@Model.Message</h6>
    <p>Time: @Model.TimeElapsed milliseconds</p>
    <p>Method Type: @Model.MethodType</p>
    <p>Description: @Model.Description</p>

</div>